.sunburst-viz .slice path {
    cursor: pointer;
}

.sunburst-viz text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    dominant-baseline: middle;
    text-anchor: middle;
    pointer-events: none;
    fill: black;
}

.sunburst-viz text .text-contour {
    fill: none;
    stroke: none;
    stroke-width: 0;
    stroke-linejoin: 'round';
}

.sunburst-viz .main-arc {
    stroke: white;
    stroke-width: 2px;
    transition: opacity .4s;
}

.sunburst-viz .main-arc:hover {
    opacity: 0.85;
    transition: opacity .05s;
}

.sunburst-viz .hidden-arc {
    fill: none;
}

.sunburst-tooltip {
    display: none;
    position: absolute;
    max-width: 320px;
    margin-top: 20px;
    margin-left: 8px;
    padding: 5px;
    border-radius: 3px;
    font: 12px sans-serif;
    color: #eee;
    background: rgba(78, 78, 82, 0.7);
    pointer-events: none;
}

.sunburst-tooltip .tooltip-title {
    font-weight: bold;
    text-align: center;
}
.flash{
    -webkit-animation: up-right .8s infinite;
    -moz-animation: up-right .8s infinite;
    -o-animation: up-right .8s infinite;
    animation: up-right .8s infinite;
 }
 
 @keyframes up-right {
    0% {
        transform: scale(1);
        opacity: .20;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}